<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>人生苦短，学习Python</title>
    <style>
      /*
       * Footer
       */
      .blog-footer {
        padding: 2.5rem 0;
        color: #999;
        text-align: center;
        background-color: #f9f9f9;
        border-top: .05rem solid #e5e5e5;
      }
      .blog-footer p:last-child {
        margin-bottom: 0;
      }
    </style>
  </head>
  <body style="background: #f5f5f5; padding-top: 70px;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <div class="container">
        <a class="navbar-brand" href="#">人生苦短，学习Python</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">博文</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">后台</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-9" style="padding-right:0">
          {% for article in article_list %}
          <div class="p-4 mb-3 bg-white rounded">
            <h4><a href="/detail/{{article.article_id}}">{{article.title}}</a></h4>
            <h5>{{article.brief_content}}</h5>
            <h6 style="color: #999;">{{article.date}}</h6>
          </div><!-- /.blog-post -->
          {% endfor %}

          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/index?page={{previous_page}}">Previous</a></li>
            {% for num in page_num %}
            {% if num is page %}
            <li class="page-item active"><a class="page-link" href="/index?page={{num}}">{{num}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="/index?page={{num}}">{{num}}</a></li>
            {% endif%}
            {% endfor %}
            <li class="page-item"><a class="page-link" href="/index?page={{next_page}}">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->

        <aside class="col-md-3" style="padding-left:14px">
          <div class="p-4 mb-3 bg-white rounded">
            <h4>基于Django构建</h4>
            <p class="mb-0">采用 Python+Django+uWsgi+Nginx 开发</p>
          </div>

          <div class="p-4 mb-3 bg-white rounded">
            <h4>最新文章</h4>
            <ol class="list-unstyled">
              {{top5_article_list}}
              {% for article in top5_article_list%}
              <li>
                <a href="/detail/{{article.article_id}}" style="color:#3f3f3f">{{article.title}}</a>
              </li>
              {% endfor %}
            </ol>
          </div>

          <div class="p-4 mb-3 bg-white rounded">
            <h4>学习资料</h4>
            <ol class="list-unstyled">
              <li><a href="#">Python</a></li>
              <li><a href="#">Django</a></li>
              <li><a href="#">Nginx</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main>
    <footer class="blog-footer">
      <p>蜀ICP备18013946号-1 ©2019 www.kongqin.com</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
